# Python virtual environment
bin/
lib/
include/
lib64/
pyvenv.cfg

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Local development database
db.sqlite3

# Redis persistence
dump.rdb

# Virtual environment symlink
lib64
